body {
  background: rgb(170, 139, 196);
  font: normal 15pt Arial;
  align-items: center;
  text-align: center;
  color: black;
}

header {
  color: white;
  text-align: center;
}

section {
  background: rgb(180, 92, 214);
  border-radius: 30px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgb(59, 58, 58);
}

footer {
  color: black;
  text-align: center;
  font-style: italic;
  font-size: small;
  margin-top: 10px;
}
